.app {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #c5c5c5;
}

.app .join-block {
  align-self: center;
  display: flex;
  margin: auto;
}
.app .join-block .join-room-input {
  width: 300px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 35px;
  padding: 0px 10px;
  box-sizing: border-box;
}

.app .join-block .join-room-btn {
  font-size: 60px;
  margin-left: 10px;
  margin-top: -5px;
  cursor: pointer;
}

.app .join-block .join-room-btn.disabled {
  opacity: 0.2;
  cursor: not-allowed;
}